<div class="doctor-details-container">
    <!-- Section Profil -->
    <app-doctor-profile></app-doctor-profile>
  
    <!-- Boutons réseaux sociaux -->
    <div class="socials">
      <button class="facebook">Facebook</button>
      <button class="instagram">Instagram</button>
      <button class="website">Site Web</button>
    </div>
  
    <!-- Description -->
    <app-description></app-description>
  
    <!-- Spécialités -->
    <app-specialites></app-specialites>
  
    <!-- Coordonnées -->
    <app-coordonnees></app-coordonnees>
  </div>
  