<div class="register-container">
    <h2>Inscription</h2>
    
    <!-- Afficher le message d'erreur -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="email">Adresse Email</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
  
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
  
      <div class="form-group">
        <label for="confirmPassword">Confirmer le mot de passe</label>
        <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>
  
      <button type="submit" [disabled]="!email || !password || password !== confirmPassword">S'inscrire</button>
    </form>
    
    <p>Déjà un compte ? <a routerLink="/login">Connectez-vous ici</a></p>
  </div>
  