.description-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px #eee;
  
    h3 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      margin: 4px 0;
      color: #333;
    }
  }